<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="cong2.css "rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <title>LOGIN</title>
</head>
<body>
     <div class="cong2">
     	<form>
     		<h2 style="color : white">Congratulations your Log in successfully!!!</h2>
     		<a href="/" style="text-decoration: none">Go back to home page</a>
     		<br><br>
     	</form>
        <a href="/logout">Déconnexion</a>

</body>
</html>